APP_NAME=Laravel
APP_ENV=local
APP_KEY=
APP_DEBUG=true
APP_URL=http://localhost
APP_MANAGERS=frontend,backend
APP_LOCALE=ru
APP_BACKEND_CSS=amethyst.css
APP_BACKEND_COPYRIGHT_TITLE="edit from php unit"
APP_BACKEND_COPYRIGHT_LINK=https://ya.ru
MAX_FILE_SIZE_KB=1024

APP_FOLDER_VIEWS_CONTROLLER=plugin/
APP_FOLDER_PLUGINS=plugins
LAZER_DATA_PATH=db_json/



BACKEND=1
BACKEND_THEME_PATH=themebackend
BACKEND_ACCESS=/adminsystem
BACKEND_ADMIN_LOGIN=admin
BACKEND_ADMIN_PASSWORD=admin

FRONTEND=1
FRONTEND_THEME_PATH=themefrontend
FRONTEND_ACCESS=
BACKEND_MAIN_CSS=builder.css
BACKEND_DEFAULT_PAGINATOR_FILE=themefrontend/paginator.php



APP_PATH_RESIZE_FOLDER=files/_resize
APP_PATH_FILES=files
APP_ELFINDER_FILES_PATH=files/tmpfiles
APP_FILES_DIR=files

BACKEND_MIDDLEWARE=admin_check



LOG_CHANNEL=single

DB_CONNECTION=mysql
DB_HOST=127.0.0.1
DB_PORT=3306
DB_DATABASE=laravel_clear
DB_USERNAME=
DB_PASSWORD=



MONGO_DB_HOST=localhost
MONGO_DB_PORT=27017
MONGO_DB_DATABASE=laravel_clear


BROADCAST_DRIVER=log
CACHE_DRIVER=file
QUEUE_CONNECTION=sync
SESSION_DRIVER=file
SESSION_LIFETIME=120

REDIS_HOST=127.0.0.1
REDIS_PASSWORD=null
REDIS_PORT=6379

MAIL_DRIVER=sendmail
MAIL_HOST=localhost
MAIL_PORT=25
MAIL_USERNAME=phpunit@phpunit.test
MAIL_PASSWORD=12312312
MAIL_ENCRYPTION=null

AWS_ACCESS_KEY_ID=
AWS_SECRET_ACCESS_KEY=
AWS_DEFAULT_REGION=us-east-1
AWS_BUCKET=

PUSHER_APP_ID=
PUSHER_APP_KEY=
PUSHER_APP_SECRET=
PUSHER_APP_CLUSTER=mt1

MIX_PUSHER_APP_KEY=${PUSHER_APP_KEY}
MIX_PUSHER_APP_CLUSTER=${PUSHER_APP_CLUSTER}
